nav {
    display: grid;
    width: 100%;
    padding: 20px;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    background-color: #D9C5B4;
    align-content: center;
}
.home {
    grid-column: 1/2;
}
.tops {
    grid-column: 2/3;
}
.bottoms {
    grid-column: 3/4;
}
.sets {
    grid-column: 4/5;
}
.shop {
    grid-column: 5/6;
}
.cart {
    grid-column: 6/7;
}